.Footer {
  margin-top: 20px;
}
small {
  display: block;
  text-align: center;
  margin: 0 auto;
}
.githubLink {
  color: #44454b;
  text-decoration: none;
}
.githubLink:hover {
  text-decoration: underline;
  color: #44454b;
}
