.Footer {
  margin-top: 20px;
}
small {
  display: block;
  text-align: center;
  margin: 0 auto;
}
.githubLink {
  color: #2c3545;
  text-decoration: none;
}
.githubLink:hover {
  text-decoration: underline;
  color: #2c3545;
}
